---
name: Build & Push image

on:
  release:
    types: published

env:
  ACTIONS_RUNNER_DEBUG: true

jobs:
  build:
    name: Build
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v6

      - name: Install asdf & tools
        uses: asdf-vm/actions/install@v4

      - name: Run precommit
        run: |
          pre-commit install
          pre-commit run --all-files

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Clean Version String
        id: prep
        run: |
          # Takes the name, removes everything up to the first space or colon
          CLEAN_VER=$(echo "${{ github.event.release.name }}" | sed 's/^[: ]*//')
          echo "version=$CLEAN_VER" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME}}/synchronizer-api:${{ steps.prep.outputs.version }}
